.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: black;
  text-align: left;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.input {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
  width: 400px;
  color: black;
  font-size: 16px;
}
