.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  position: relative;
  border-radius: 4px;
  border: 2px solid black;
  width: 300px;
  margin: 0;
}
.btn {
  border-radius: 4px;
  background-color: rgb(241, 239, 239);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.text {
  margin: 5px;
  color: black;
}

.icon {
  margin-right: 10px;
}
