.list {
  padding-top: 70px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.item {
  transition: scale 250ms ease-in-out;
}
.item:hover {
  transform: scale(1.03);
}
