.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(26, 141, 133);
}

.wrap {
  margin: 0 auto;
}

.img {
  width: 1080px;
  height: 720px;
  object-fit: cover;
}

.wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  color: black;
}
